.portal {
 &__nav-button {
  font-weight: 600 !important;
  border: 0 !important;
  border-radius: 0.25rem !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  
  .MuiTab-wrapper {
    align-items: flex-start;
  }

  &--inner {
   display: flex;
   align-items: center;
   gap: 10px;
  }

  &.Mui-selected {
   background-color: var(--nav-active-color);
   color: #fff;
  }
  
  &.hidden {
    display: none;
  }
 }
}
