.portal {
 &__calendar {
  .fc-button-primary {
   background: rgba(71, 171, 130, 0.1) !important;
   border-color: transparent !important;
   font-size: 12px !important;
   color: #717579 !important;
   padding: 10px 20px !important;
   text-transform: capitalize !important;
   box-shadow: none !important;

   &:hover {
    background: rgba(71, 171, 130, 0.3) !important;
   }

   &.fc-button-active {
    background: var(--primary-color) !important;
    font-weight: 600;
    color: #fff !important;
    border-radius: 0.25em !important;
   }
  }

  .fc-scrollgrid-section-header {
   .fc-scroller {
    overflow: hidden !important;
   }
  }

  .fc {
   .fc-toolbar-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #303134;
    text-transform: uppercase;
   }

   .fc-event-title {
    font-weight: bold;
    font-size: 12.0569px;
    line-height: 18px;
    color: #303134;
    padding: 0 !important;
    white-space: initial;

    @media (max-width: 991.98px) {
     display: none !important;
    }
   }

   .fc-scrollgrid {
    border: none !important;
   }

   tr {
    background-color: #fff !important;
    border: none !important;
   }

   .fc-daygrid-day-number {
    padding: 0 !important;
    font-weight: bold;
    font-size: 20.6689px;
    line-height: 31px;
    color: #303134;
   }

   .fc-daygrid-day-top {
    flex-direction: row !important;
   }

   .fc-daygrid-event {
    margin-left: -7px !important;
    margin-right: -7px !important;
    border: none;
    border-left: 3px solid;
    padding-left: 3px;
    height: 20px;
    margin-bottom: 5px;
    border-radius: 4px;

    @media (min-width: 992px) {
     background: transparent !important;
     height: auto;
     border-radius: 0;
    }
   }
  }

  .fc-theme-standard {
   th {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #717579;
    border: none !important;
    padding: 30px 15px;

    a {
     color: inherit;
    }
   }

   td {
    padding: 8px 15px !important;
    border-color: #eeeeee;

    &.fc-day-other {
     background: #f7f7f7;
    }
   }

   thead {
    td {
     border: none !important;
    }
   }

   .fc-scrollgrid-section-body {
    & > td {
     border: none !important;
     padding: 0 !important;
    }
   }
  }

  @media (max-width: 575.98px) {
   .fc-toolbar-chunk:nth-child(2) {
    order: -1;
    flex: 0 0 100%;
    text-align: center;
    margin-bottom: 10px;
   }

   .fc .fc-toolbar.fc-header-toolbar {
    flex-wrap: wrap;
   }
  }

  &-loading {
   opacity: 0.3;
   pointer-events: none;
  }
 }
}
