:root {
 --placeholder-color-light: #f4f4f4;
 --placeholder-color-dark: #e8e8e8;
 --primary-color: #47ab82;
 --nav-default-bg: transparent;
 --nav-default-color: #000;
 --nav-active-bg: var(--primary-color);
 --nav-active-color: #fff;
}
